@import url('https://themes.googleusercontent.com/fonts/css?kit=QYckeYj5xFrBhnAJ6FDUSg');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600&display=swap');

html *{
  font-size: 22pt!important;
}

ul.lst-kix_uewr3i1keq27-0 {
  list-style-type: none
}

ul.lst-kix_uewr3i1keq27-4 {
  list-style-type: none
}

ul.lst-kix_uewr3i1keq27-3 {
  list-style-type: none
}

ul.lst-kix_uewr3i1keq27-2 {
  list-style-type: none
}

.lst-kix_uewr3i1keq27-8>li:before {
  content: "-  "
}

ul.lst-kix_uewr3i1keq27-1 {
  list-style-type: none
}

.lst-kix_uewr3i1keq27-3>li:before {
  content: "-  "
}

.lst-kix_uewr3i1keq27-2>li:before {
  content: "-  "
}

.lst-kix_uewr3i1keq27-1>li:before {
  content: "-  "
}

.lst-kix_uewr3i1keq27-0>li:before {
  content: "-  "
}

.lst-kix_uewr3i1keq27-4>li:before {
  content: "-  "
}

.lst-kix_uewr3i1keq27-5>li:before {
  content: "-  "
}

ul.lst-kix_uewr3i1keq27-8 {
  list-style-type: none
}

ul.lst-kix_uewr3i1keq27-7 {
  list-style-type: none
}

ul.lst-kix_uewr3i1keq27-6 {
  list-style-type: none
}

ul.lst-kix_uewr3i1keq27-5 {
  list-style-type: none
}

.lst-kix_uewr3i1keq27-7>li:before {
  content: "-  "
}

.lst-kix_uewr3i1keq27-6>li:before {
  content: "-  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.25;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 11pt
}

.c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "EB Garamond";
  font-style: normal
}

.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 2.0;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c11 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 2.0;
  orphans: 2;
  widows: 2;
  text-align: center;
  height: 11pt
}

.c17 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 2.0;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c5 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c16 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 2.0;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c14 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.25;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.25;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c15 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.25;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c6 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-style: normal
}

.c12 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt
}

.c7 {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 72pt 72pt 72pt 72pt
}

.c3 {
  font-weight: 400;
  font-family: "EB Garamond"
}

.c8 {
  font-weight: 700
}

.c13 {
  height: 11pt
}

.c10 {
  font-style: italic
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "EB Garamond";
  line-height: 1.25;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.25;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "EB Garamond"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "EB Garamond"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "EB Garamond";
  line-height: 1.25;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "EB Garamond";
  line-height: 1.25;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "EB Garamond";
  line-height: 1.25;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "EB Garamond";
  line-height: 1.25;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "EB Garamond";
  line-height: 1.25;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "EB Garamond";
  line-height: 1.25;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}